.profile-container {
    padding: 20px;
    border: 1px solid var(--dark-grey);
    border-radius: 12px;
}

.profile-header p {
    color: var(--main-orange);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.profile-header hr {
    margin-top: 8px;
}

.profile-body form {
    display: flex;
    flex-direction: column;
}

.profile-top,
.profile-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-top > div,
.profile-bottom > div {
    width: calc(50% - 10px);
    margin-bottom: 15px;
}

.profile-top .profile-name,
.profile-top .profile-office,
.profile-top .profile-area,
.profile-bottom .profile-email,
.profile-bottom .profile-unity {
    margin-bottom: 15px;
}

.profileButtons-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    hr{
        display: block;
        padding-top: 25px;
        background: white;
    }

    .profile-top > div,
    .profile-bottom > div {
        width: 100%;
        margin-bottom: 10px;
    }

    .profile-top .profile-name,
    .profile-top .profile-office,
    .profile-top .profile-area,
    .profile-bottom .profile-email,
    .profile-bottom .profile-unity {
        margin-bottom: 10px;
    }
}