.viewServices-container{
    margin-bottom: 40px;
}

.viewServices-container hr{
    margin-bottom: 30px;
    margin-top: 30px;
}

.hour-info{
    margin-bottom: 20px;
}

.hour-info span, .time-info span{
    margin-right: 20px;
}

.situation-container{
    margin-bottom: 20px;
}

.justify-container{
    margin-bottom: 30px;
}

.justify-name{
    margin-bottom: 10px;
}

.justify-date{
    margin-bottom: 20px;
}