.info-container{
    display: flex;
    padding: 0;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    flex-grow: 0;
}
.user-info p, h3{
    margin: 0px 0px 5px 0px;
}

.info-container h1{
    color: #004A8D;
    margin: 0px 0px 10px 0px;
}

.info-container p{
    color: #626262;
    margin: 0px 0px 10px 0px;
}

hr{
    background-color: #F7941F;
    height: 2px;
    border: none;
    margin-bottom: 30px;
}

.notificationIcon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
    flex: 2;
}

.notification-icon{
    color: var(--dark-grey);
    background-color: var(--light-grey);
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

/* .notification-icon:hover{
    background-color: var(--grey);
    color: var(--white);
} */

@media screen and (max-width: 1023px) {
    .user-info,
    .notificationIcon-container {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .top-bar {
        display: none;
    }
}