.notificationTable-container{
    width: 500px;
}

.notificationTable-header{
    background-color: #E4E4E4;
    border-radius: 12px 12px 0px 0px;
    padding: 0px;
}

.notificationTable-header button{
    background-color: #E4E4E4;
    border: none;
    cursor: pointer;
    margin: 0px 20px;
    font-size: 18px;
    padding: 20px 20px;
    transition: 0.3s;
}

.notificationTable-header button:hover{
    color: var(--main-blue);
}

.notificationTable-header button:focus{
    color: var(--main-blue);
    box-shadow: 0px -3px 0px #004A8D inset, 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.notificationTable-body{
    border: 1px solid #DFDFDF;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 20px 0px 20px;
}