.tableSituation{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 48px;
    width: 150px;
    text-align: center;
}
.tableSituation p{
    margin: 0;
}
.analysis{
    color: var(--main-blue);
    background-color: var(--bg-blue);
    border: 1px solid #004A8D;
}
.validate{
    color: var(--main-green);
    background-color: var(--light-green);
    border: 1px solid #4AC748;
}

.partial{
    color: var(--main-yellow);
    background-color: var(--light-yellow);
    border: 1px solid #F2BF38;
}
.refused{
    color: var(--main-red);
    background-color: var(--light-red);
    border: 1px solid #F80000;
}

