.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

hr{
    display: none;
}

@media (max-width: 1024px) {
    .home-container {
        grid-template-columns: repeat(2, 1fr);
    }

    hr{
        display: block;
        padding-top: 15px;
        background: white;
    }
}

@media (max-width: 640px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
