.not-found-page {
    background-color: #FF9800;
    background-image: radial-gradient(circle at center, #FEE0E0 60%, #FFFFFF 60%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .not-found-page-content {
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .error {
    font-size: 5.5rem;
    color: red;
    margin-bottom: 0px;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-stroke: 1.5px rgb(0, 0, 0);
  }  
  
  p {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  img {
    margin-bottom: -60px;
  }